@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Hegarty&family=Bitcount+Prop+Single+Ink:wght@100..900&family=Comic+Relief:wght@400;700&family=Delius&family=Jost:ital,wght@0,100..900;1,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Schoolbell&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    font-family: "Ubuntu", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-color: rgb(28, 24, 54);
}

h1 { 
    color:white;
    font-size: 60px;
}

h4 {
    color:white;
    font-size: 22px;
}

box {
    width: 1000px;
    height: 700px;
    border: 2px solid black;
    border-radius: 12px;
    background-color: rgba(11, 14, 41, 0.493);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
}

h5 {
    color: white;
    padding-left: 20px;
    margin-top: 12px;
    font-size: 22px;
}

textarea {
    width: auto;
    height: 200px;
    margin-left: 12px;
    margin-right: 12px;
    border: 2px solid black;
    border-radius: 12px;
    background-color: rgb(74, 70, 70);
    color:white;
    padding: 12px;
    resize: none;
    font-size: 30px;
}

box2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 12px;
}

button {
    width: 100px;
    height: 40px;
    padding: 12px;
    margin: 5px;
    border-radius: 12px;
    background-color: rgb(74, 70, 70);
    color:white;
    cursor:pointer;
}


